/* #product {
  border: 2px solid lightblue;
  padding: 10px;
  margin: 5px;
  display: inline-block;
} */

button {
  background-color: violet;
  color: white;
}

div {
  border-radius: 2px 2px 2px 2px;
  border: 2px dashed lightpink;
}

h3 {
  color: red;
}
