<html>
    <head>
       <title>Quoting Dojo</title>
    </head>

    <body>
      <h1>Quoting Dojo </h1>
      <h3>Write a quote fool!</h3>
      <!-- read on to learn about form actions, we'll talk about the method in a later section -->
      <form action='/quotes' method='post' id="quotes">
          Your Name: <input type='text' name='name'>

          Quote: <textarea name='quote'> </textarea>

          <input type='submit' value='submit!'>
      </form>

    </body>
</html>
