  <html>
      <head>
          <meta charset="utf-8">
          <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
          <title> Login and Registration Form </title>
      </head>
      <body>
          <div id="wrapper">
            {% with messages = get_flashed_messages() %}
              {% if messages %}
                {% for message in messages %}
              <p> {{message}}</p>
                {% endfor %}
              {% endif %}
            {% endwith %}
            <h1>Registration Form</h1>
              <h3>Fill out the Following</h3>

              <form action='/register' method='post'>
                  First Name: <input type='text' name='first_name'>
                  Last Name: <input type='text' name='last_name'>
                  E-mail: <input type='text' name='email'>

                  Password: <input type='text' name='pw'>
                  Confirm Password: <input type='text' name='confirmpw'>

                <input type='submit' value='Register!'>
              </form>


              <aside id="login">
                <h3> Already registered? Login Here! </h3>
                <form action='/login' method='post'>
                    E-mail: <input type='text' name='loginemail'>
                    Password: <input type='text' name='loginpw'>
                  <input type='submit' value='Log In'>
                </form>

              </aside>

          </div>
      </body>
  </html>
