<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
        <title> Success Page for Login Registration </title>
    </head>
    <body>
        <div id="wrapper">
          <h3><u> Successful, {{ session['first_name']}} {{ session['last_name']}}  !</u> </h3>

            {% if logged_in == True %}
            <div id="loggedin"> {{ session['email']}} is logged in! </div>
            {% elif registered == True %}
            <div id="registered"> You are now registered! </div>
            {% endif %}

              {% for e in all_emails %}
                <p> {{ e['email_address']}} </p>
              {% endfor %}

        </div>
    </body>
</html>
