
<div style="text-align:center">
<ul>
  <li>
    <h2><a [routerLink] ="['/']"> Home </a></h2>
  </li>
  <li>
    <h2><a (click) ="goToAddQuote(this.author)"> Add a quote </a></h2>
  </li>
</ul>

<h3> Quotes by {{author}}</h3>

<table>
  <tr>
    <th>Quote</th>
    <th> Votes </th>
    <th>Actions Available</th>
  </tr>
  <tr *ngFor="let quote of quotes" >
    <td>{{quote.content}}</td>
    <td> {{quote.votes}}
  <td>
  <button (click)="vote(quote._id, 1)">Vote Up</button>
  <button (click)="vote(quote._id, -1)">Vote Down</button>
<button (click)="onButtonClickDelete(quote._id)">Delete</button></td>
</tr>
</table>
</div>
