<html>
    <head>
       <title>Create a New Baby!</title>
    </head>

    <body>

      <h1>Create a new Baby! </h1>
      <h2> Fill in the following!</h2>
      <form action='/new' method='post' id="quotes">
        Type: <input type="text" name="type">
          Name: <input type='text' name='name'>

          Food: <input type="text" name="food">
          <input type='submit' value='submit!'>
      </form>

    </body>
</html>
