<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Welcome Page</title>
  </head>
  <body>
    <h1> Welcome <%= user.first_name %> ! You are logged on </h1>
    <a href='/logout'> Logout</a>

  </body>
</html>
