<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Dojo Weather Forecast
  </h1>

<ul>
  <li>
    <h2><a [routerLink]="['seattle']"> Seattle, WA </a></h2>
  </li>
  <li>
    <h2><a [routerLink]="['dallas']"> Dallas, TX </a></h2>
  </li>
  <li>
      <h2><a [routerLink]="['sanjose']"> San Jose, CA </a></h2>
  </li>
  <li>
      <h2><a [routerLink]="['burbank']"> Burbank, CA </a></h2>
  </li>
  <li>
      <h2><a [routerLink]="['dc']"> Washington, DC </a></h2>
  </li>
  <li>
      <h2><a [routerLink]="['chicago']"> Chicago, IL </a></h2>
  </li>
</ul>

<router-outlet></router-outlet>

</div>
